<template>
  <!-- Die Einkaufslistekomponente wird hier enthalten -->
  <ShoppingList />
</template>

<script>
import ShoppingList from "./../components/ShoppingList.vue";

export default {
  name: "home-page",
  components: {
    ShoppingList,
  },
};
</script>
<style scoped>
</style>