/* Allgemeine CSSstyle der Anwendung  */

.section-bg {
  background-color: rgba(250, 250, 250, 1);
}

:deep() .v-text-field {
  max-width: 400px;
}

.v-card__title {
  font-size: 22px;
  font-weight: 800;
}

.v-card-text {
  max-width: 400px;
  font-size: 22px;
  font-weight: 800;
}

.product-list table tr th {
  font-size: 14px !important;
  margin: 1em;
}

.product-item {
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

h2,
h3 {
  color: #745fb5;
}

p {
  font-size: 1.2em;
  color: black;
}

.list-empty {
  display: flex;
  justify-content: center;
  color: #ee1111;
}