<template>
  <v-card class="mx-auto" max-width="100%">
    <!-- Die Nchricht wird hier enthalten -->
    <template>
      <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
        {{ snackText }}
        <template v-slot:action="{ attrs }">
          <v-btn v-bind="attrs" text @click="snack = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </template>
      </v-snackbar>
    </template>

    <!-- Die Menubutton und Titel werden hier enthalten -->
    <v-toolbar color="white">
      <v-btn variant="text" icon large color="black">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-toolbar-title>Einkaufsliste</v-toolbar-title>
      <v-spacer></v-spacer>
      <AddProduct @onAddProduct="onAddProduct" />
    </v-toolbar>

    <!-- Die Produktliste wird hier angeschaut -->
    <v-list class="product-list" v-if="productList.length">
      <v-list-item
        class="product-item"
        v-for="product in productList"
        :key="product.id"
      >
        <!-- Die ProduktContente werden hier angeschaut -->
        <v-list-item-content>
          <div :class="getClassOfListItems(product)">
            <v-row no-gutters>
              <v-col cols="5">{{ product.name }} </v-col>
              <v-col cols="2">{{ product.count }} </v-col>
              <v-col cols="5">
                {{
                  product.dueDate
                    ? moment(product.dueDate).format("DD.MM.YY")
                    : ""
                }}
              </v-col>
            </v-row>
          </div>
        </v-list-item-content>

        <!-- Die Optionen Button werden hier angeschaut -->
        <v-list-item-icon>
          <v-btn @click="doDone(product)" icon>
            <v-icon
              color="blue darken-2"
              title="Erledigt"
              v-if="product.isDone"
            >
              mdi-checkbox-marked-circle
            </v-icon>
            <v-icon title="Unerledigt" v-else>
              mdi-checkbox-marked-circle
            </v-icon>
          </v-btn>
          <!-- Die EditProductdiagram wird hier enthalten -->
          <EditProduct
            @onUpdateProduct="onUpdateProduct"
            :product="product"
            :done="product.isDone"
          />
          <!-- Die DeleteProductdiagram wird hier enthalten -->
          <DeleteProduct @onRemoveProduct="onRemoveProduct" :id="product.id" />
        </v-list-item-icon>
      </v-list-item>
    </v-list>
    <!-- Wenn die Produktliste leer ist -->
    <div class="list-empty" v-else>Kein Produkt</div>
  </v-card>
</template>

<script>
import AddProduct from "./dialogs/AddProduct";
import EditProduct from "./dialogs/EditProduct";
import DeleteProduct from "./dialogs/DeleteProduct";
import store from "./../store";
import moment from "moment";

export default {
  name: "product-list",
  components: {
    AddProduct,
    EditProduct,
    DeleteProduct,
  },
  data: () => ({
    // Für Datumformatting benutzt
    moment: moment,
    snack: false,
    snackColor: "",
    snackText: "",
  }),
  computed: {
    // Aus Store.state alle Daten bekommen
    productList: () => store.state.productList,
  },
  methods: {
    /**
     * Neues Produkt aus AddProduct bekommen und hinzufügen
     */
    onAddProduct(product) {
      store.commit("addProduct", product);
      this.showMessage("success", "Neue Produkt wird erfolgreich hinzugefügt!");
    },
    /**
     * Das Produkt bearbeiten
     */
    onUpdateProduct(product) {
      store.commit("updateProduct", product);
      this.showMessage("success", "Das Produkt wird erfolgreich bearbeitet!");
    },
    /**
     * Das Produkt löschen
     */
    onRemoveProduct(productId) {
      store.commit("deleteProduct", productId);
      this.showMessage("success", "Das Produkt wird erfolgreich gelöscht!");
    },
    /**
     * Das Produkt Unerledigt/Erledigt machen
     */
    doDone(product) {
      // Überprüfen, ob dieses Produkt Unerledigt oder Erledigt
      if (product.isDone) {
        product.isDone = false;
      } else {
        product.isDone = true;
      }
      store.commit("updateProduct", product);
      const isDoneText = product.isDone ? "Erledigt" : "Unerledigt";
      this.showMessage(
        "success",
        `Das Produkt wird erfolgreich ${isDoneText} gemacht!`
      );
    },
    /**
     * Divclass der Produktliste mit dem überprüfenden Produkt bekommen
     */
    getClassOfListItems(product) {
      return product.isDone
        ? "text-decoration-line-through"
        : "text-decoration-none";
    },
    /**
     * Richtige Nachricht zu endem Benutzer zeigen
     */
    showMessage(snackType, text) {
      this.snack = true;
      this.snackColor = snackType;
      this.snackText = text;
    },
  },
};
</script>
<style scoped></style>
