<template>
  <v-app class="section-bg">
    <v-app-bar app dark>
      <v-container>
        <div class="d-flex align-center">
          <h1>Einkaufsplaner-App</h1>
        </div>
      </v-container>
    </v-app-bar>
    <v-container>
      <v-main class="mt-6">
        <!-- Die Homepagekomponente wird hier enthalten -->
        <HomeView />
      </v-main>
    </v-container>
  </v-app>
</template>

<script>
import HomeView from "./view/HomeView";

export default {
  name: "App",
  components: {
    HomeView,
  },
};
</script>
<style lang="scss">
/* Allgemeine CSSstyle der Anwendung importiert hier */
@import "./assets/css/style.scss";
</style>
