<template>
  <v-dialog v-model="dialog" max-width="500px">
    <!-- Der Hinzufügenbutton wird hier enthalten -->
    <template v-slot:activator="{ on }">
      <div class="m-4">
        <v-btn
          icon
          v-on="on"
          class="ml-8"
          large
          color="success"
          title="Hinzufügen"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </div>
    </template>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card class="px-3 py-3">
        <v-card-title>
          <span class="headline pl-3">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="8" md="8">
                <v-text-field
                  v-model="product.name"
                  label="ProduktName*"
                  :rules="nameRules"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-text-field
                  v-model="product.count"
                  :rules="numberRules"
                  label="Anzahl*"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="product.dueDate"
                  label="Fälligkeitsdatum"
                  type="date"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="close" icon title="Abbrechen">
            <v-icon large color="error"> mdi-close </v-icon>
          </v-btn>
          <v-btn
            icon
            :disabled="!valid || !product.name || !product.count"
            title="Speichern"
          >
            <v-icon large @click="addProduct" color="success">
              mdi-content-save
            </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { uuid } from "vue-uuid";

export default {
  mounted() {
    this.product = {
      name: "",
      count: 0,
      dueDate: null,
    };
  },
  data: () => ({
    dialog: false,
    valid: true,
    nameRules: [
      (v) => !!v || "Name ist verpflichtigt!",
      (v) => (v && v.length <= 25) || "Name must be less than 25 characters",
    ],
    numberRules: [
      (v) => !!v || "Anzahl ist verpflichtigt!",
      (v) => (v && v.length <= 9) || "Anzahl muss weniger als 9 digit sein!",
      (v) => /^[1-9]\d*$/.test(v) || "Anzahl muss richtig sein",
    ],
    product: {
      name: "",
      count: 0,
      dueDate: null,
    },
  }),
  computed: {
    formTitle() {
      return "Produkt Hinzufügen";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    /**
     * Neues Produkt aus Formular bekommen und zur Einkaufsliste schicken
     */
    addProduct() {
      this.validateForm();
      const newProduct = {
        id: uuid.v4(),
        count: this.product.count,
        name: this.product.name.trim(),
        dueDate: this.product.dueDate,
        isDone: false,
      };
      this.$emit("onAddProduct", newProduct);
      this.close();
    },
    /**
     * Formular validieren
     */
    validateForm() {
      this.$refs.form.validate();
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
    },
  },
};
</script>
<style scoped></style>
