<template>
  <v-dialog v-model="dialog" max-width="400px">
    <!-- Der Löschenbutton wird hier enthalten -->
    <template v-slot:activator="{ on }">
      <div class="m-4">
        <v-btn icon v-on="on" medium color="error" title="Löschen">
          <v-icon> mdi-delete </v-icon>
        </v-btn>
      </div>
    </template>

    <v-card class="px-3 py-3">
      <v-card-title>
        <span class="headline pl-3">{{ formTitle }}</span>
      </v-card-title>
      <v-card-text>{{ dialogText }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close" icon title="Abbrechen">
          <v-icon large color="default"> mdi-close </v-icon>
        </v-btn>
        <v-btn icon @click="removeProduct" title="Löschen">
          <v-icon large color="error"> mdi-delete </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["id"],
  data: () => ({
    dialog: false,
  }),
  computed: {
    formTitle() {
      return "Produkt Löschen";
    },
    dialogText() {
      return "Sind Sie sicher, diese Produkt zu löschen?";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    /**
     * Das Produkt mit geschickende ID löschen
     */
    removeProduct() {
      this.close();
      this.$emit("onRemoveProduct", this.id);
    },
    close() {
      this.dialog = false;
    },
  },
};
</script>
<style scoped></style>
