<template>
  <v-dialog v-model="dialog" max-width="500px">
    <!-- Der Bearbeitenbutton wird hier enthalten -->
    <template v-slot:activator="{ on }">
      <div class="m-4">
        <v-btn
          icon
          v-on="on"
          :disabled="done"
          medium
          color="info"
          title="Bearbeiten"
        >
          <v-icon> mdi-pencil </v-icon>
        </v-btn>
      </div>
    </template>

    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card class="px-3 py-3">
        <v-card-title>
          <span class="headline pl-3">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="8" md="8">
                <v-text-field
                  v-model="updatedProduct.name"
                  label="ProduktName*"
                  :rules="nameRules"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-text-field
                  v-model="updatedProduct.count"
                  :rules="numberRules"
                  label="Anzahl*"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="updatedProduct.dueDate"
                  label="Fälligkeitsdatum"
                  type="date"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="close" icon title="Abbrechen">
            <v-icon large color="error"> mdi-close </v-icon>
          </v-btn>
          <v-btn
            icon
            :disabled="!valid || !updatedProduct.name || !updatedProduct.count"
            title="Speichern"
          >
            <v-icon large @click="updateProduct" color="success">
              mdi-content-save
            </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  props: ["product", "done"],
  data: () => ({
    dialog: false,
    valid: true,
    updatedProduct: {},
    nameRules: [
      (v) => !!v || "Name ist verpflichtigt!",
      (v) => (v && v.length <= 25) || "Name must be less than 25 characters",
    ],
    numberRules: [
      (v) => !!v || "Anzahl ist verpflichtigt!",
      (v) => /^[1-9]\d*$/.test(v) || "Anzahl muss richtig sein",
    ],
  }),
  computed: {
    formTitle() {
      return "Produkt Bearbeiten";
    },
  },
  watch: {
    dialog(val) {
      Object.assign(this.updatedProduct, this.product);
      val || this.close();
    },
  },
  methods: {
    /**
     * Das Produkt bearbeiten und zur Einkaufsliste schicken
     */
    updateProduct() {
      this.validateForm();
      this.$emit("onUpdateProduct", this.updatedProduct);
      this.close();
    },
    /**
     * Formular validieren
     */
    validateForm() {
      this.$refs.form.validate();
    },
    close() {
      this.dialog = false;
      this.clearForm();
    },
    clearForm() {
      this.updatedProduct = {};
    },
  },
};
</script>
<style scoped></style>
